<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Mapbox -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js"></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css' rel='stylesheet' />
</head>
<body>

    <div class="lead">
        <strong>Application:</strong>
        <span th:text="${eventName}"></span>
    </div>
    <div id="contents">
        <ul>
            <li style="list-style-type: none" v-for="flight in flights">
                <flight-card 
                    v-bind:flight="flight" v-bind:key="flight.id">
                </flight-card>
            </li>
        </ul>
    </div>
    <div id="map" class="map">
    </div>

    <style>
    #map {
        width: 60%;
        height: 500px;
    }</style>


    <!-- include Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script type="text/babel">

        Vue.component('flight-card', {
            props: ['flight'],
            template: `<div class="card">
                <div class="card-body">
                    <h6 class="card-title">
                        {{ flight.name }}
                    </h6>
                    <p class ="card-text">
                        <div>
                            {{ flight.description }}
                        </div>
                    </p>
                </div>
                </div>`
        });

        var app = new Vue({
            el: '#contents',
            data : {
                flights: [
                        { id: '1', name: 'Portugal', description: 'Flight #1'},
                        { id: '2', name: 'Spain', description: 'Flight #2'}
                ]
            }
        });

        var map = new Vue({
            el: "#map",
            data: () => ({
                map: '',
                coords: [],
            }),
            mounted() {
                mapboxgl.accessToken = 'pk.eyJ1IjoibWFyY2lhcGlyZXMxMCIsImEiOiJjazh4dHNwbGowOTUwM25zMmMwcHZoa3R2In0.81CSLHUoUCfS3mVrSgqung';

                this.map = new mapboxgl.Map({
                    container: 'map',
                    'style': 'mapbox://styles/mapbox/dark-v10',
                    center: [-65.017, -16.457],
                    zoom: 2
                });

                // Long Lat limitations 
                // var sw = new mapboxgl.LngLat(-73.9876, 40.7661);
                // var ne = new mapboxgl.LngLat(-73.9397, 40.8002);
                // var llb = new mapboxgl.LngLatBounds(sw, ne);

                // this.map.fitBounds(llb);

                // Zoom buttons
                const nav = new mapboxgl.NavigationControl();
                this.map.addControl(nav, "top-right");

                // Marker
                // const marker = new mapboxgl.Marker()
                // .setLngLat([-73.9885, 40.7900])
                // .addTo(this.map);
                

                let scope = this.map;

                this.fetchCoords();

                var list = [];
                for (var i = 0; i < this.coords.length; i ++){
                    list.push([this.y[i]['longitude'], this.y[i]['latitude']]);
                }

                console.log(list);
                
                // this.coords.features.forEach(function(marker) {
                //     var el = document.createElement('div');
                //     el.className = 'marker';
                //     el.style.backgroundImage = 'url(assets/plane.png)';
                //     el.style.width = '30px';
                //     el.style.height = '30px';
                //     el.style.backgroundSize = '100%';
                //     console.log("ola??");

                //     new mapboxgl.Marker(el).setLngLat(marker.geometry.coordinates).addTo(scope);

                //     console.log("CHEGOU?");
                // });
                
            },
            methods: {
                fetchCoords(){
                    axios.get('/coordinates').then(function(response){
                        this.coords = response.data;
                    }.bind(this));
                }
            }
        });

    </script>
</body>
</html>